{% set one_recipe = RECIPESETS|length == 1 and RECIPESETS[0]|length == 1 %}

{% macro host_case_tasks(host) -%}
  {% for test in host.tests %}
    {% if VARIABLES.coverage == "true" %}
      <!--generate base .info coverage data labeled TEST_NAME-->
      <task name="/kernel/kcov/start" role="STANDALONE">
        <params>
          <param name="TEST_NAME" value="{{ test.name | e }}"/>
        </params>
      </task>
    {% endif %}
    <task
      name="
        {%- if test.origin == "beaker" -%}
          {{- test.location -}}
        {%- else -%}
          {{- test.name -}}
        {%- endif -%}
      "
      role="{{ test.role }}"
    >
      {% if test.origin == "suites_zip" %}
        <fetch url="{{ VARIABLES.suites_zip_url }}#{{ test.location }}"/>
      {% elif test.origin == "kernel_tests" %}
        <fetch url="{{ VARIABLES.kernel_tests_url }}#{{ test.location }}"/>
      {% endif %}
      <params>
        <param name="CKI_NAME" value="{{ test.name | e }}"/>
        {% if test.universal_id is not none %}
          <param name="CKI_UNIVERSAL_ID" value="{{ test.universal_id | e }}"/>
        {% endif %}
        {% if test.waived %}
          <param name="CKI_WAIVED" value="{{ test.waived }}"/>
        {% endif %}
        <param name="CKI_MAINTAINERS" value="{{ test.maintainers | join(", ") | e }}"/>
        <param name="CKI_SELFTESTS_URL" value="{{ VARIABLES.selftests_url }}"/>
        <param name="KILLTIMEOVERRIDE" value="{{ test.max_duration_seconds }}"/>
        {% for name, value in test.environment.items() %}
          <param name="{{ name }}" value="{{ value }}"/>
        {% endfor %}
      </params>
    </task>
    {% if VARIABLES.coverage == "true" %}
      <!--generate end .info and merge with base .info of TEST_NAME-->
      <task name="/kernel/kcov/end" role="STANDALONE">
        <params>
          <param name="TEST_NAME" value="{{ test.name | e }}"/>
        </params>
      </task>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro job(distro_requires="", host_requires="", kernel_options="", kernel_options_post="", ks_append="", repos="", kcov_rhel_xy="") -%}
  <?xml version="1.0" encoding="UTF-8"?>
  <job retention_tag="60days" group="{{ VARIABLES.job_group }}">
    <whiteboard>{{ DESCRIPTION }}</whiteboard>

    {# Build recipeSet of normal host types #}
    {% for recipeset in RECIPESETS %}
      <recipeSet>
        {% for host in recipeset %}
          {{- recipe(host=host,
                     distro_requires=distro_requires,
                     host_requires=host_requires,
                     kernel_options=kernel_options,
                     kernel_options_post=kernel_options_post,
                     ks_append=ks_append,
                     repos=repos) -}}
        {% endfor %}
      </recipeSet>
    {% endfor %}
    <!--wait for all other recipes to finish, combine coverage .info, and
        generate html report-->
    {% if VARIABLES.coverage == "true" and not one_recipe %}
      <recipeSet>
        <recipe whiteboard="Merge coverage info" ks_meta="redhat_ca_cert harness='restraint-rhts beakerlib-redhat'">
          <distroRequires>
            <distro_arch op="=" value="x86_64"/>
            <distro_family op="=" value="RedHatEnterpriseLinux8"/>
          </distroRequires>
          <hostRequires>
            <hostname op="like" value="kvm%guest%"/>
          </hostRequires>
          <task name="/distribution/check-install"/>
          <task name="/kernel/kcov/include"/>
          <task name="/kernel/kcov/prepare"/>
          <!--blocks until all other recipes finish-->
          <task name="/kernel/kcov/wait">
            <params>
              <param  name="KILLTIMEOVERRIDE" value="{{ 60*60*36 }}"/>
            </params>
          </task>
          <task name="/kernel/kcov/merge">
            <params>
              <param name="CKI_COVERAGE_TGZ" value="true"/>
              <!--use .info files instead of downloading and unzipping a tgz
                  that also contains html-->
              <param name="USE_INFO" value="true"/>
              <param name="XY" value="{{ kcov_rhel_xy }}"/>
            </params>
          </task>
        </recipe>
      </recipeSet>
    {% endif %}
  </job>
{% endmacro %}


{% macro recipe(host="", distro_requires="", host_requires="", kernel_options="", kernel_options_post="", ks_append="", repos="", role="STANDALONE") %}
  {# NOTE(rasibley): Omits the fedora-updates repo for Fedora, see bz 1734557 #}
  <recipe ks_meta="{% if not TREE.startswith("rhel5")%}redhat_ca_cert {% endif %}harness='restraint-rhts beakerlib-redhat' selinux=--enforcing" kernel_options="{{- kernel_options -}}" kernel_options_post="{{- kernel_options_post -}}">
    <distroRequires>
      <distro_arch op="=" value="{{ ARCH }}"/>
      {{- distro_requires -}}
    </distroRequires>
    {% if host['hostname'] %}
      <hostRequires force="{{ host['hostname'] }}" />
    {% else %}
      <hostRequires>
        <arch op="=" value="{{ ARCH }}"/>
        {% if ARCH == "x86_64" %}
          <not>
            <or>
              {# NOTE(mhayden): Exclude XCI machines from test jobs since they #}
              {# are not actively maintained by anyone. #}
              <hostname op="like" value="xci%"/>
              <hostname op="=" value="c101.xci.lab.eng.rdu2.redhat.com"/>
              <hostname op="=" value="c106.xci.lab.eng.rdu2.redhat.com"/>
            </or>
          </not>
        {% endif %}
        {% if ARCH == "aarch64" %}
          <not>
            <or>
              <hostname op="like" value="hpe-comanche%"/>
              <hostname op="like" value="dell-venom%"/>
            </or>
          </not>
        {% endif %}
        {% if ARCH != "s390x" %}
          <or>
            <labcontroller op="=" value="lab-02.rhts.eng.bos.redhat.com"/>
            <labcontroller op="=" value="lab-02.rhts.eng.rdu.redhat.com"/>
            <labcontroller op="=" value="lab-02.rhts.eng.brq.redhat.com"/>
          </or>
        {% endif %}
        {%- for template in host.host_requires_list -%}
          {%- include template -%}
        {%- endfor -%}
        {{- host_requires -}}
      </hostRequires>
    {% endif %}
    <repos>
      {{- repos -}}
    </repos>
    <partitions>
      {%- for template in host.partitions_list -%}
        {%- include template -%}
      {%- endfor -%}
    </partitions>
    <ks_appends>
      <ks_append><![CDATA[
%post
set -x
rm -f /usr/share/restraint/plugins/report_result.d/10_avc_check
sed -i 's/^#DefaultTasksMax.*/DefaultTasksMax=50%/' /etc/systemd/system.conf
# Patch restraint's localwatchdog plugin to abort the recipe instead of warning,
# when a task goes over KILLTIMEOVERRIDE. See FASTMOVING-886 and FASTMOVING-1224.
sed -i 's|rstrnt-reboot|rstrnt-abort --server $RSTRNT_RECIPE_URL/tasks/$TASKID/status\nrstrnt-reboot|' /usr/share/restraint/plugins/localwatchdog.d/99_reboot
{# NOTE(rasibley): Add RHEL5 Red Hat CA Cert #}
{% if TREE.startswith("rhel5") %}
wget -O  /etc/pki/tls/certs/RH-IT-Root-CA.crt https://password.corp.redhat.com/RH-IT-Root-CA.crt
cacertdir_rehash /etc/pki/tls/certs
{% endif %}
{# NOTE(rasibley): Silence dmesg warnings for known issues #}
mkdir -p /usr/share/rhts/
cat >/usr/share/rhts/falsestrings <<EOF
BIOS BUG
DEBUG
mapping multiple BARs.*IBM System X3250 M4
MAX_LOCKDEP_CHAIN_HLOCKS
BUG: KASAN: use-after-free in string_nocheck
watchdog: BUG: soft lockup - CPU
EOF
{% if TREE.endswith("rt") %}
echo "isolated_cores=" >> /etc/tuned/realtime-variables.conf
{% endif %}
%end
]]></ks_append>
      {%- for template in host.kickstart_list -%}
        {%- include template -%}
      {%- endfor -%}
      {{- ks_append -}}
    </ks_appends>
    {% if host.ignore_panic %}
      <watchdog panic="ignore"/>
    {% endif %}
    <task name="/distribution/check-install" role="STANDALONE">
      <fetch url="https://github.com/beaker-project/beaker-core-tasks/archive/master.zip#check-install"/>
      <params/>
    </task>
    {# NOTE(rasibley): upstream jobs require latest kmod and selinux-failures to prevent avc denials #}
    {% if TREE == "upstream" %}
    <task name="/distribution/command" role="STANDALONE">
        <params>
          <param name="TESTARGS" value="dnf update -y kmod selinux-policy --enablerepo=updates-testing"/>
        </params>
      </task>
    {% endif %}
    {# NOTE(mhayden): Workaround for ppc64le + 4.20. BZ 1647947. #}
    {% if ARCH == "ppc64le" and not TREE.startswith("rhel7") %}
      <task name="/distribution/command" role="None">
        <params>
          <param name="CMDS_TO_RUN" value="echo 'net.core.bpf_jit_limit = 262144000' | tee -a /etc/sysctl.d/ppc64le-bpf-jit-fix.conf"/>
        </params>
      </task>
    {% endif %}
    <task name="/test/misc/machineinfo">
      <fetch url="{{ VARIABLES.suites_zip_url }}#test/misc/machineinfo"/>
    </task>
    {% if host.preboot_tasks %}
      {% include host.preboot_tasks %}
    {% endif %}
    {% if VARIABLES.coverage == "true" %}
      <task name="/kernel/kcov/prepare" role="STANDALONE">
        <params>
          <!--don't log .info file for every test to decrease size of artifacts-->
          <param name="ONLY_FINAL_INFO" value="true"/>
          <!--assign all possible KDIR values to workaround bug for empty value-->
          <param name="KDIR" value="arch, block, certs, crypto, drivers, fs, init, ipc, kernel, mm, net, security"/>
        </params>
      </task>
    {% else %}
      <task name="Boot test" role="STANDALONE">
        <fetch url="{{ VARIABLES.suites_zip_url }}#distribution/kpkginstall"/>
        <params>
          <param name="CKI_NAME" value="Boot test"/>
          <param name="CKI_UNIVERSAL_ID" value="boot"/>
          <param name="KPKG_URL" value="{{ KURL }}"/>
          <param name="KILLTIMEOVERRIDE" value="3600"/>
        </params>
      </task>
    {% endif %}
    {% if host.postboot_tasks %}
      {% include host.postboot_tasks %}
    {% endif %}
    {{- host_case_tasks(host) -}}
    {% if VARIABLES.coverage == "true" %}
      <!--combine all coverage files for the recipe into one. Generate html tgz
          if this is the only recipe-->
      <task name="/kernel/kcov/finalize" role="STANDALONE">
        <params>
          <param  name="KILLTIMEOVERRIDE" value="{{ host.tests|length * 600 }}"/>
          {% if one_recipe %}
            <param name="CKI_COVERAGE_TGZ" value="true"/>
          {% else %}
            <param name="NO_HTML" value="true"/>
          {% endif %}
        </params>
      </task>
    {% endif %}
  </recipe>
{% endmacro %}
