{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <name op="=" value="RHEL-8.3.0-20201009.2"/>
  <variant op="=" value="BaseOS"/>
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=true) }}
  <ks_append><![CDATA[
%post
# Add Advanced VIRT repo, required for virt tests
cat >/etc/yum.repos.d/rhel8-advvirt.repo <<EOF
[rhel8-advvirt]
name=rhel8-advvirt
baseurl=http://download.devel.redhat.com/rhel-8/rel-eng/ADVANCED-VIRT-8/latest-ADVANCED-VIRT-8.3.0-RHEL-8/compose/Advanced-virt/$(uname -i)/os/
enabled=0
gpgcheck=0
EOF
%end
]]>      </ks_append>
{% endset %}
{{- common.job(distro_requires=distro_requires,
               ks_append=ks_append) -}}
