{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <name op="=" value="RHEL-8.1.0"/>
  <variant op="=" value="BaseOS"/>
{% endset %}
{% set repos %}
  <repo name="pulp_0" url="http://pulp.dist.prod.ext.phx2.redhat.com/content/eus/rhel8/8.1/{{ ARCH }}/appstream/os/"/>
  <repo name="pulp_1" url="http://pulp.dist.prod.ext.phx2.redhat.com/content/eus/rhel8/8.1/{{ ARCH }}/baseos/os/"/>
  <repo name="pulp_2" url="http://pulp.dist.prod.ext.phx2.redhat.com/content/eus/rhel8/8.1/{{ ARCH }}/codeready-builder/os/"/>
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=false) }}
{% endset %}
{{- common.job(distro_requires=distro_requires, repos=repos, ks_append=ks_append,
               kcov_rhel_xy="81") -}}
