{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="RedHatEnterpriseLinux9"/>
  {% if VARIABLES.ystream_distro %}
    <distro_name op="=" value="{{ VARIABLES.ystream_distro }}"/>
  {% endif %}
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=true) }}
  <ks_append><![CDATA[
# Enable RHEL9 Buildroot for test dependencies
%post
cat >/etc/yum.repos.d/BUILDROOT-9.repo <<EOF
[BUILDROOT-9]
name=BUILDROOT-9
{% if VARIABLES.ystream_buildroot %}
baseurl={{ VARIABLES.ystream_buildroot }}/{{ ARCH }}/os/
{% else %}
baseurl=http://download.hosts.prod.upshift.rdu2.redhat.com/rhel-9/nightly/BUILDROOT-9/latest-BUILDROOT-9.0.0/compose/Buildroot/{{ ARCH }}/os/
{% endif %}
enabled=1
gpgcheck=0
EOF 
%end
]]>
  </ks_append>
{% set host_requires %}
  {# NOTE(rasibley): Force it to our dedicated s390x nodes which support RHEL9 #}
  {% if ARCH == "s390x" %}
    <or>
      <hostname op="like" value="kernelci%s390%"/>
    </or>
  {% endif %}
{% endset %}
{{- common.job(distro_requires=distro_requires,
               host_requires=host_requires, ks_append=ks_append) -}}
